html{
  margin : 0;
  padding : 0;
}

body{
  margin : 0;
  padding : 0;
  letter-spacing: -1px;
}

/*디버깅용 text*/
/*div:before {*/
/*  display: block;*/
/*  content: attr(id);*/
/*}*/

/*div {*/
/*  border-style : solid;*/
/*  border-width : 1px;*/
/*  border-collapse: collapse;*/
/*}*/

.record {
  margin :0 5px 0 0
}
h1.record {
  font-size : 20pt;
  color : #000000;
}

h2.record {
  font-size : 20pt;
  color : #848484;
}

h3.record {
  font-size : 16pt;
  color : #848484;
}

h1 .title {
  color: #848484;
  font-size: 24pt;
  letter-spacing: -1px;
}

li {
  font-size: 12pt;
}

.big {
  font-size : 20pt;
  color : #848484;
}

.small {
  font-size : 12pt;
  color : #848484;
}
header {
  display : none;
}

/*로그인 form div*/

div #sign_form {
  width: auto;
  display : block;
}

/*전체 컨테이너*/
#root {
  width : 626px;
  margin: 200px auto;
}

div #nested{
  width : 606px;
}

#nested:after {
  content : '';
  display : block;
  clear: both;
}

#sign_form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.meta_profile {
  padding: 10px;
  text-align: center;
}

.meta_name {
  font-size: 11px;
}

.record_entry:after {
  clear: both;
}

.meta_simple {
  font-size: 11px;
}

#nav {
  display :none;
  width: 307px;
  float: left;
  margin : 0 20px;
  border-style: solid;
  border-width : 0 1px 0 1px;
  border-color : #848484;
}

div #contents {
  display : none;
  float: left;
  width : 1018px;
  margin: 0 38px 63px 30px;
  padding : 10px;
}

div #recent{
  margin : 20px;
}

div #timeline{
  margin : 20px;
}

div #recent_img{
  width : 100%;
  text-align: center;
}

div #recent_list{
  width : 100%;

  
  
}

footer {
  clear: both;
}

div #create_report_stepper{
  width : auto;
  margin : 0px 200px;
}

div #create_report_contents{
  width : auto;
  padding : 0 40px;
}

.record_content {
  float: left;
}

.record_entry {
  overflow: hidden;
  position : relative;
}

.record_check {
  float : left;
  margin : auto 10px;
}

.record_entry:after{
  content :'';
  clear : both;
}

.record_chip {
  float : right;
  padding : 15px;
}

.chip{
  float : right;
  margin : 10px;
}

.cicularProgress {
  float : left;
}

.selected_record{
  float : none;
}
.selected_record:after {
  content:'';
  display :block;
  clear : both;
}

div .selected_record_type{
  float : left;
}

div .selected_record_name{
  float: left;
}

div .export_records{
  text-align: center
}

div .selected_record_type{
  width : 100px;
  padding : 10px;
  text-align: right;
}

div .selected_record_name{
  padding : 10px;
}

div #create_report_navigator {
  clear :both;
  text-align : center;
  padding : 30px;
}

div #create_report_container{
  display: none;
}