html{
  margin : 0;
  padding : 0;
}

body{
  margin : 0;
  padding : 0;
}

/*디버깅용 text*/
/*div:before {*/
/*  display: block;*/
/*  content: attr(id);*/
/*}*/

/*div {*/
/*  border-style : solid;*/
/*  border-width : 1px;*/
/*  border-collapse: collapse;*/
/*}*/

a {
  color: #00B7FF;
}

p {
  font-size: 18px;
}

h1 {
  color: gray;
  font-size: 14px;
}

h2,
h3 {
  color: gray;
  font-size: 8px;
}

li {
  font-size: 8px;
}

header {
  display : none;
}

/*로그인 form div*/

div #sign_form {
  width: 568px;
}

/*전체 컨테이너*/
#root {
  width : 568px;
  margin: 400px auto;
}

div #nested{
  width : 548px;
  height : auto;
}

#nested:after {
  content : '';
  display : block;
  clear: both;
}

#sign_form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.meta_profile {
  padding: 10px;
  text-align: center;
}

.meta_name {
  font-size: 11px;
}

.record_entry:after {
  clear: both;
}

.meta_simple {
  font-size: 11px;
}

#nav {
  display :none;
  width: 307px;
  float: left;
  margin : 0 20px;
}

div #contents {
  display : none;
  float: left;
  width : 1018px;
  margin: 0 38px 63px 30px;
  padding : 10px;
}

div #recent{
  margin : 20px;
}

div #timeline{
  margin : 20px;
}

div #recent_img{
  width : 100%;
  text-align: center;
}

div #recent_list{
  width : 100%;
}

footer {
  clear: both;
}

div #create_report_stepper{
  width : auto;
  margin : 0px 200px;
}

div #create_report_contents{
  width : auto;
  padding : 40px;
}

.record_content {
  float: left;
  height: 100%;
  padding : 10px 0px;
}

.record_entry {
  overflow: hidden;
  position : relative;
  height: 100%;
}

.record_check {
  float : left;
  margin : auto 10px;
}

.record_entry:after{
  content :'';
  clear : both;
}

.record_chip {
  float : right;
  height: 100%;
  padding : 20px;
}

.chip{
  float : right;
  margin : 10px;
}

.cicularProgress {
  float : left;
}

.selected_record{
  float : none;
}
.selected_record:after {
  content:'';
  display :block;
  clear : both;
}

div .selected_record_type{
  float : left;
}

div .selected_record_name{
  float: left;
}

div .export_records{
  text-align: center
}

div .selected_record_type{
  width : 100px;
  padding : 10px;
  text-align: right;
}

div .selected_record_name{
  padding : 10px;
}

div #create_report_navigator {
  clear :both;
  text-align : center;
  padding : 30px;
}

div #create_report_container{
  display: none;
}