a {
  color: #00B7FF;
}

p {
  font-size : 8px;
}

h1 {
  color: gray;
  font-size : 12px;
}

h2, h3 {
  color: gray;
  font-size : 8px;
}

li {
  font-size : 8px;
}


/*로그인 form div*/
div #sign_form{
  width : 568px;
}

#root {
  margin: 10px;
  border-color: gray;
  border-width: 1px;
  border-style:solid;
  overflow: auto;
}

#root:after{
  clear :both;
}

#sign_form {
  margin-top: 20px;
  margin-left : auto;
  margin-right :auto;
  width : 60%;
}

.meta_profile {
  padding : 10px;
  text-align: center;
}

.meta_name{
  font-size: 11px;
}

.record_entry:after {
  clear:both;
}

.meta_simple{
  font-size: 11px;
}

#nav {
  width : 307px;
  float : left;
}

div #contents{
  float:left;
}

.nested:after{
  content : "";
  display : block;
  clear:both;
}

footer {
  clear : both;
}

.record_content {
  float:left;
}

.record_entry{
  overflow:auto;
}

h1 .record_type {
  color: gray;
  font-size : 20px;
}